<HTML>
<HEAD type="PrimaryResultWindow">
<TITLE>Tajima&#39;s Neutrality Test</TITLE>
<STYLE>{TLegendGenerator.Style}</STYLE>
</HEAD>

<BODY>
  <span class="figureTitle">
  Table. Results from Tajima&#39;s Neutrality Test [{TLegendGenerator.TajimaNeutrality:ExpandCitation}]
  </span>

<TABLE>
<TR>
	<TH nowrap><i>m</i></TH><TH nowrap><i>S</i></TH><TH nowrap><i>p</i><sub>s</sub></TH>
	<TH nowrap><i>&Theta;</i><TH nowrap><i>&pi;</i></TH><TH nowrap><i>D</i></TH>
</TR>
<TR class="lastRow">
	<TD class="lastRow" nowrap>{TLegendGenerator.NoOfSeqs}</TD>
	<TD class="lastRow" nowrap>{TLegendGenerator.S}</TD>
	<TD class="lastRow" nowrap>{TLegendGenerator.pS}</TD>
	<TD class="lastRow" nowrap>{TLegendGenerator.Theta}</TD>
	<TD class="lastRow" nowrap>{TLegendGenerator.pi}</TD>
	<TD class="lastRow" nowrap>{TLegendGenerator.D}</TD>
</TR>
</TABLE>

<div class="note">
  NOTE.--
 {IncludeExternalFile=Data_Subset_Template.htm}
<br>
<br>
  <i>Abbreviations</i>:
    <i>m</i> = number of sequences, <i>n</i> = total number of sites, <i>S</i> = Number of segregating sites,
    <i>p</i><sub>s</sub> = <i>S</i>/<i>n</i>, <i>&Theta;</i> = <i>p</i><sub>s</sub>/a<sub>1</sub>,
    <i>&pi;</i> = nucleotide diversity, and <i>D</i> is the Tajima test statistic
    (see chapter 12 in ref. [{TLegendGenerator.MegaBook:ExpandCitation}] for details).

</div>
<br>
</body>
</html>