ClosedSource/*
lib/*
*/backup/*
*/*/backup/*
*.txaPackage
*.tvsconfig
*.txvpck
*.stat
*.~pas
*.~dfm
*.~ddp
*.dcu
*.drc
*.~drc
*.dsk
*.~dsk
*.cbk
*.~cbk
*.cfg
*.~cfg
*.map
*.~map
*.local
*.~.local
*.dsm
*.~dsm
*.orig
*.identcache
*.~dpr
*~
*.bak
*.ppu
*.o
