
A.expandspot {	color: #008000;	cursor: hand;	font-style: italic;	text-decoration: none;}

SPAN.expandtext {	font-style: italic;	font-weight: normal;	color: #ff0000;}

A.dropspot {  cursor: hand;	color: #008000;	font-style: italic;	text-decoration: none;}

A.glossterm {	color: #800000;	cursor: hand;	font-style: italic;	text-decoration: none;}

SPAN.glosstext {	font-style: italic;	font-weight: normal;	color: #0000ff;}
n-bottom:2.0pt;
	margin-left:5.75pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:bold;
}

h3 {
	margin-top:6.0pt;
	margin-right:6.5pt;
	margin-bottom:2.0pt;
	margin-left:5.75pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:bold;
}

h4 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:normal;
}

h5 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:normal;
}

h6 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:normal;
}

p.Heading7 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.Heading8 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.Heading9 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.Toc3 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:16.0pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.Toc4 {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.NormalIndent {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.FootnoteText {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

span.FootnoteReference {
	vertical-align:super;
}

p.BodyTextIndent {
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.BlockText {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TipNoteHeading {
	margin-top:6.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:bold;
}

p.TipNoteText {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TipNoteTextBulleted {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	text-indent:-9.35pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TopicTextBulleted {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	text-indent:-9.35pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TopicTextIndent {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TopicTextNumbered {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	text-indent:-9.35pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.TopicTextOnestep {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:15.1pt;
	margin-bottom:.0001pt;
	text-indent:-9.35pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.MTDisplayEquation {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

span.MTEquationSection {
	color:red;
}

p.reference {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:.45in;
	margin-bottom:.0001pt;
	text-indent:-.2in;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.keyword {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
	font-style:italic;
}

p.equation {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Courier New";
}

p.Section {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.ReplaceHd1 {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.MakeTopicBold {
	margin-top:4.0pt;
	margin-right:0in;
	margin-bottom:4.0pt;
	margin-left:5.75pt;
	font-size:10.0pt;
	font-family:"Arial"   ,sans-serif;
	font-weight:bold;
}

p.Leftalignarial {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Arial"   ,sans-serif;
}

p.Leftaligncourier {
	margin-top:4.0pt;
	margin-right:6.5pt;
	margin-bottom:0in;
	margin-left:5.75pt;
	margin-bottom:.0001pt;
	font-size:8.0pt;
	font-family:"Courier New";
}

OL {
	margin-top:0px;
	margin-bottom:0px;
}

UL {
	margin-top:0px;
	margin-bottom:0px;
}

